{% extends 'base_logescom.html.twig' %}
{% set queryParams = app.request.query.all %}
{% set queryString = queryParams|filter((v, k) => k != "page" and k != "ajustement" and k != "id_stock") | url_encode %}

{% block title %}détail décaissement{% endblock %}
{% block bandeau %} {% endblock %}
 {% block carousel %}
    <div id="carouselExampleAutoplaying" class="carousel slide py-2" data-bs-ride="carousel">
    </div>
 {% endblock %}
 {% block categories %} {% endblock %}
 {% block contact %} {% endblock %}
 {% block collaborateurs %} {% endblock %}
 {% block scroll %} {% endblock %}
 {% block footer %} {% endblock %}
 {% block social %} {% endblock %}

{% block produits %}
    <div class="row my-2">
        {% include "_common/_nav_versement.html.twig" %}

        <div class="col-sm-12 col-md-10">
            {{ include("_common/_messages_flash.html.twig") }}
            <table class="table table-bordered table-striped table-hover align-middle">
                <tbody>
                    <tr>
                        <th>Référence</th>
                        <td>{{ versement.reference }}</td>
                    </tr>
                    <tr>
                        <th>Collaborateur</th>
                        <td>{{ versement.client.prenom|ucwords ~ " " ~ versement.client.nom |strtoupper }}</td>
                    </tr>
                    <tr>
                        <th>Motif</th>
                        <td>{{ versement.commentaire|ucfirst }}</td>
                    </tr>

                    <tr>
                        <th>Montant</th>
                        <td>{{ versement.devise.nomDevise == 'gnf' ? versement.montant|number_format(0,',',' ') : versement.montant|number_format(2,',',' ') }}</td>
                    </tr>

                    <tr>
                        <th>Taux</th>
                        <td>{{ versement.devise.nomDevise == 'gnf' ? versement.taux|number_format(0,',',' ') : versement.taux|number_format(2,',',' ') }}</td>
                    </tr>

                    <tr>
                        <th>Devise</th>
                        <td>{{ versement.devise.nomDevise|strtoupper }}</td>
                    </tr>
                    <tr>
                        <th>Mode de Paiement</th>
                        <td>{{ versement.modePaie.designation|ucfirst }}</td>
                    </tr>
                    <tr>
                        <th>Numéro paiement</th>
                        <td>{{ versement.numeroPaiement }}</td>
                    </tr>
                    <tr>
                        <th>Banque Chèque</th>
                        <td>{{ versement.banqueCheque }}</td>
                    </tr>
                    <tr>
                        <th>Caisse de retrait</th>
                        <td>{{ versement.compte.designation|ucfirst }}</td>

                    </tr>
                    <tr>
                        <th>Date décaissement</th>
                        <td>{{ versement.dateVersement ? versement.dateVersement|date('d/m/Y H:i:s') : '' }}</td>
                    </tr>
                    <tr>
                        <th>Date de Saisie</th>
                        <td>{{ versement.dateSaisie ? versement.dateSaisie|date('d/m/Y H:i:s') : '' }}</td>
                    </tr>
                    <tr>
                        <th>Traité par</th>
                        <td>{{ versement.traitePar.prenom|ucwords ~ " " ~ versement.traitePar.nom |strtoupper }}</td>
                    </tr>
                    <tr>
                        <th colspan="2" class="text-center bg-warning">Historique des modifications</th>
                    </tr>
                    <tr>
                        <th colspan="2">
                            <table class="table table-bordered table-striped table-hover align-middle">

                                <thead class="sticky-top bg-light text-center">
                                    <tr>
                                        <th>Date init</th>
                                        <th>Client init</th>
                                        <th>Montant init</th>
                                        <th>Devise init</th>
                                        <th>Traite par</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for vers_modif in versements_modif %}
                                        <tr>
                                            <td class="text-center">{{ vers_modif.dateSaisie ? vers_modif.dateSaisie|date('d/m/Y') : '' }}</td>
                                            <td>{{ vers_modif.collaborateur.prenom|ucwords ~ " " ~ vers_modif.collaborateur.nom |strtoupper }}</td>
                                            <td class="text-end">{{ vers_modif.devise.nomDevise == 'gnf' ? vers_modif.montant|number_format(0,',',' ') : vers_modif.montant|number_format(2,',',' ') }}</td>
                                            <td class="text-center">{{ vers_modif.devise.nomDevise|strtoupper }}</td>
                                            <td>{{ vers_modif.traitePar.prenom|ucwords ~ " " ~ vers_modif.traitePar.nom |strtoupper }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </th>
                    </tr>
                </tbody>
            </table>

            <div class="d-flex justify-content-between">

                <a class="btn btn-light" href="{{ path('app_logescom_entrees_versement_index', { lieu_vente : lieu_vente.id}) }}">Retour</a>

                {% if is_granted("ROLE_MODIFICATION") %}
                    <a class="btn btn-warning" href="{{ path('app_logescom_entrees_versement_edit', {'id': versement.id, lieu_vente : lieu_vente.id}) }}"><i class="fa fa-edit"></i></a>
                {% endif %}
                {% if is_granted("ROLE_SUPPRESSION") %}
                    {{ include('logescom/entrees/versement/_delete_form.html.twig') }}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
