<div class="col-sm-12 col-md-2 pb-3" style="background-color:#152736;">   
    <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{path("app_logescom_direction_direction_produit_vente")}}">Bilan des ventes</a>

    <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{path("app_logescom_direction_direction_bilan_produit")}}">Bilan des produits</a>
    
    <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{path("app_logescom_direction_direction_solde")}}">Solde</a>

    <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{path("app_logescom_direction_direction_stock")}}">Stocks</a>
    
    <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{path("app_logescom_direction_statistiques")}}">Statistiques</a>

    <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{path("app_logescom_direction_facture_modification")}}">Modifications des factures</a>

    <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{path("app_logescom_direction_facture_suppression")}}">Suppresions des factures</a>

    <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{path("app_logescom_direction_direction_stock")}}">Bilan</a>
    <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{path("app_logescom_direction_promotion_index")}}">Promotions</a>

</div>