<div class="col-sm-12 col-md-2 pb-3" style="background-color:#152736;">     
    <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{path("app_logescom_caisse_caisse_releve", {lieu_vente : lieu_vente.id})}}">Relevé des caisses</a>

    <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{path("app_logescom_caisse_transfert_fond_index", {lieu_vente : lieu_vente.id})}}">Transfert des fonds</a>

    <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{path("app_logescom_caisse_transfert_fond_reception", {lieu_vente : lieu_vente.id})}}">Réception des Transfert</a>
    <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{path("app_logescom_caisse_gestion_cheque_index", {lieu_vente : lieu_vente.id})}}">Gestion des chèques</a>
    <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{path("app_logescom_entrees_cheque_espece_index", {lieu_vente : lieu_vente.id})}}">Chèque/Espèces</a>

    <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{path("app_logescom_caisse_echange_devise_index", {lieu_vente : lieu_vente.id})}}">Echange de Devises</a>
    <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{path("app_logescom_entrees_versement_index", {lieu_vente : lieu_vente.id})}}">Recettes</a>
</div>