<div class="col-sm-12 col-md-2 pb-3" style="background-color:#152736;"> 

    
    <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{path("app_admin_entreprise_index")}}">Entreprise</a>
    <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{path("app_admin_caisse_index")}}">Gestion des caisses</a>
    <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{path("app_admin_configuration_logiciel_index")}}">Configuration Logiciel</a>
    <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{path("app_admin_categorie_index")}}">Gestion des catégories</a>
    <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{path("app_admin_dimensions_index")}}">Gestion des dimensions</a>
    <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{path("app_admin_epaisseurs_index")}}">Gestion des épaisseurs</a>
    <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{path("app_admin_products_index")}}">Gestion des produits</a>
    <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{path("app_admin_bannieres_entreprise_index")}}">Bannieres</a>
    <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{path("app_admin_collaborateurs_index")}}">Collaborateurs</a>
    {% if is_granted('ROLE_ADMIN') %}
    
        <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{path("app_admin_personnel_index")}}">Gestion des Personnels</a>
    {% endif %}
</div>