<div class="col-sm-12 col-md-2 pb-3" style="background-color:#152736;">   
    <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{path("app_logescom_direction_statistiques")}}">Top Produits</a>
    <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{path("app_logescom_direction_statistiques_client")}}">Top Clients</a>    
    <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{path("app_logescom_direction_statistiques_ventes_mois")}}">Statistiques des ventes</a>    
    {# <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{path("app_logescom_direction_statistiques_client")}}">Nombre des ventes/années</a>  
    <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{path("app_logescom_direction_statistiques_client")}}">Chiffre d'affaires/années</a>   #}
    <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{path("app_logescom_direction_statistiques_ventes_client")}}">Stat des clients</a>  
    <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{path("app_logescom_direction_statistiques_ventes_produit")}}">Stat des produits</a>  
    <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{path("app_logescom_direction_direction_solde")}}">Solde</a>
</div>