<div class="col-sm-12 col-md-2 pb-3" style="background-color:#152736;">     
    <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{path("app_logescom_stock_gestion_stock_index", {lieu_vente : lieu_vente.id})}}">Gestion-stocks</a>
    <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{path("app_logescom_stock_gestion_stock_sortie", {lieu_vente : lieu_vente.id})}}">Sortie Stock</a>
    <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{path("app_logescom_stock_mouvement_product", {lieu_vente : lieu_vente.id})}}">Mouvement-produits</a>
    <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{path("app_logescom_stock_liste_inventaire_new", {lieu_vente : lieu_vente.id})}}">Gestion-inventaire</a>
    <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{path("app_logescom_stock_gestion_stock_appro_initial", {lieu_vente : lieu_vente.id})}}">Approv-initial</a>
    <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{path("app_logescom_stock_transfert_products_index", {lieu_vente : lieu_vente.id})}}">Transferts des produits</a>
    <a style="width: 100%; " class="btn btn-light text-center fw-bold m-auto my-2" href="{{path("app_logescom_stock_gestion_stock_anomalie", {lieu_vente : lieu_vente.id})}}">Anomalie Stock</a>
</div>