
{% if nbrePages %}
    <nav aria-label="Page navigation example ">
        <ul class="pagination justify-content-start">
            {% if pageEncours > 1 %}
                <li class="page-item ">
                    <a class="page-link" href="{{path(path, {id : id, pageEncours : (pageEncours - 1), magasin : magasin.id, search : search})}}">&lt;</a>
                </li>
            {% else %}
                <li class="page-item disabled" ><a class="page-link">&lt;</a></li>
            {% endif %}
            {% for page in 1..nbrePages %}                
                <li class="page-item {{ ( page == pageEncours) ? 'active' : ''}} "><a class="page-link" href="{{path(path, {id : id, pageEncours : page, magasin : magasin.id, search : search})}}">{{page}}</a></li>
            {% endfor %}
            {% if pageEncours < nbrePages %}
                <li class="page-item "><a class="page-link" href="{{path(path, {id : id,pageEncours : pageEncours + 1, magasin : magasin.id, search : search} ) }}">&gt;</a></li>
            {% else %}
                <li class="page-item disabled "><a href="" class="page-link" >&gt;</a></li>
            {% endif %}
            </li>
        </ul>
    </nav>

{% endif %}
