{% if nbrePages %}
    <nav aria-label="Page navigation example ">
        <ul class="pagination justify-content-start">
            {% if pageProductsEncours > 1 %}
                <li class="page-item ">
                    <a class="page-link" href="{{path(path, {id : id, pageProductsEncours : (pageProductsEncours - 1)})}}&{{queryString}}#products">&lt;</a>
                </li>
            {% else %}
                <li class="page-item disabled" ><a class="page-link">&lt;</a></li>
            {% endif %}
            {% for page in 1..nbrePages %}                
                <li class="page-item {{ ( page == pageProductsEncours) ? 'active' : ''}} "><a class="page-link" href="{{path(path, {id : id,pageProductsEncours : page})}}&{{queryString}}#products">{{page}}</a></li>
            {% endfor %}
            {% if pageProductsEncours < nbrePages %}
                <li class="page-item "><a class="page-link" href="{{path(path, {id : id,pageProductsEncours : pageProductsEncours + 1} ) }}&{{queryString}}#products">&gt;</a></li>
            {% else %}
                <li class="page-item disabled "><a href="" class="page-link" >&gt;</a></li>
            {% endif %}
            </li>
        </ul>
    </nav>

{% endif %}
