{% extends 'base_logescom.html.twig' %}
{% set queryParams = app.request.query.all %}
{% set queryString = queryParams|filter((v, k) => k != "page" and k != "ajustement" and k != "id_stock") | url_encode %}

{% block title %}détail avance{% endblock %}
{% block bandeau %} {% endblock %}
 {% block carousel %}
    <div id="carouselExampleAutoplaying" class="carousel slide py-2" data-bs-ride="carousel">
    </div>
 {% endblock %}
 {% block categories %} {% endblock %}
 {% block contact %} {% endblock %}
 {% block collaborateurs %} {% endblock %}
 {% block scroll %} {% endblock %}
 {% block footer %} {% endblock %}
 {% block social %} {% endblock %}

{% block produits %}
    <div class="row">
        {% include "_common/_nav_personnel.html.twig" %}
        <div class="col-sm-12 col-md-10">
            <table class="table table-striped table-hover align-middle m-auto">
                <tbody>
                    <tr>
                        <th>Prénom & Nom</th>
                        <td>{{ avance_salaire.user.prenom | ucwords ~ " " ~ avance_salaire.user.nom | strtoupper  }}</td>
                    </tr>
                    <tr>
                        <th>Montant</th>
                        <td>{{ avance_salaire.montant | number_format(0,',',' ') }}</td>
                    </tr>
                    <tr>
                        <th>Type de paiement</th>
                        <td>{{ avance_salaire.modePaiement.designation }}</td>
                    </tr>
                    <tr>
                        <th>Compte de retraît</th>
                        <td>{{ avance_salaire.caisse.designation }}</td>
                    </tr>
                    <tr>
                        <th>Date Avance</th>
                        <td>{{ avance_salaire.periode ? avance_salaire.periode|date('d/m/Y') : '' }}</td>
                    </tr>
                    <tr>
                        <th>Période</th>
                        <td>{{ avance_salaire.mois }}</td>
                    </tr>
                    <tr>
                        <th>Details</th>
                        <td>{{ avance_salaire.details }}</td>
                    </tr>
                    <tr>
                        <th>Traité par</th>
                        <td>{{ avance_salaire.traitePar.prenom | ucwords ~ " " ~ avance_salaire.traitePar.nom | strtoupper  }}</td>
                    </tr>
                    <tr>
                    <th>Traité le</th>
                    <td>{{ avance_salaire.dateSaisie ? avance_salaire.dateSaisie |date('d/m/Y') : '' }}</td>
                </tr>
                </tbody>
            </table>
            <div class="d-flex justify-content-between my-4">

                <a class="btn btn-light" href="{{ path('app_logescom_personnel_avance_salaire_index' , {lieu_vente : lieu_vente.id}) }}">Retour</a>

                <a class="btn btn-warning" href="{{ path('app_logescom_personnel_avance_salaire_edit', {'id': avance_salaire.id, lieu_vente : lieu_vente.id}) }}">Modifier</a>
            </div>

            {{ include('logescom/personnel/avance_salaire/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
