{% extends 'base_logescom.html.twig' %}

{% block title %}detail de la facture{% endblock %}
 {% block categories %} {% endblock %}
 {% block contact %} {% endblock %}
 {% block collaborateurs %} {% endblock %}
 {% block scroll %} {% endblock %}
 {% block footer %} {% endblock %}
 {% block social %} {% endblock %}
{% block bandeau %} {% endblock %}
 {% block carousel %}
    <div id="carouselExampleAutoplaying" class="carousel slide py-2" data-bs-ride="carousel">
    </div>
 {% endblock %}

{% block produits %}
    <div class="row">
        {% include "_common/_nav_achat.html.twig" %}
        <div class="col-sm-12 col-md-10">
            {% include "_common/_messages_flash.html.twig" %}

            <table class="table table-bordered table-striped table-hover align-middle">
                <tbody>
                    <tr>
                        <th>Collaborateur</th>
                        <td>{{ bon_fournisseur.fournisseur.prenom|ucwords ~ " " ~ bon_fournisseur.fournisseur.nom|strtoupper }}</td>
                    </tr>
                    <tr>
                        <th>Numero Bon</th>
                        <td>{{ bon_fournisseur.numeroBon }}</td>
                    </tr>
                    <tr>
                        <th>Commentaire</th>
                        <td>{{ bon_fournisseur.commentaire|ucfirst }}</td>
                    </tr>
                    <tr>
                        <th>Montant</th>
                        <td>{{ (bon_fournisseur.devise.nomDevise == 'gnf' ? bon_fournisseur.montant|number_format(0,',',' ') : bon_fournisseur.montant|number_format(2,',',' ')) ~ " "~ bon_fournisseur.devise.nomDevise| strtoupper }}</td>
                    </tr>
                    <tr>
                        <th>Date de saisie</th>
                        <td>{{ bon_fournisseur.dateSaisie ? bon_fournisseur.dateSaisie|date('d/m/Y H:i:s') : '' }}</td>
                    </tr>

                    <tr>
                        <th>Saisie par</th>
                        <td>{{ bon_fournisseur.personnel.prenom|ucwords ~ " " ~ bon_fournisseur.personnel.nom|strtoupper }}</td>
                    </tr>
                </tbody>
            </table>
            <div class="d-flex justify-content-between">
                <a class="btn btn-light" href="{{ path('app_logescom_achat_bon_commande_fournisseur_index', {lieu_vente : lieu_vente.id}) }}">Retour</a>

                
                {% if is_granted("ROLE_MODIFICATION") %}
                    <a class="btn btn-warning" href="{{ path('app_logescom_achat_bon_commande_fournisseur_edit', {'id': bon_fournisseur.id, lieu_vente : lieu_vente.id}) }}"><i class="fa fa-edit"></i></a>
                {% endif %}

                {% if liste_receptions is empty and is_granted("ROLE_SUPPRESSION") %}
                    {{ include('logescom/achat/bon_commande_fournisseur/_delete_form.html.twig') }}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
