{% if app.request.query.has('etat_facture') %}
    {% set etat_facture = app.request.query.get('etat_facture') %}
{% else %}
    {% set etat_facture = "non payé" %}
{% endif %}
{{ form_start(form) }}
{{ form_errors(form)}}
    <div class="row mb-1">
        
        <div class="col-sm-12 col-md-2">
            {{ form_row(form.typeSaisie) }}
        </div>
        <div class="col-sm-12 col-md-3">
            {{ form_row(form.fournisseur) }}
        </div>
        <div class="col-sm-12 col-md-2">
            {{ form_row(form.numeroFacture) }}
        </div>
        <div class="col-sm-12 col-md-3">
            {{ form_row(form.montant) }}
        </div>
        <div class="col-sm-12 col-md-2">
            {{ form_row(form.tva) }}
        </div>        
    </div>
    <div class="row mb-1">
        <div class="col-sm-12 col-md-2">
            {{ form_row(form.devise) }}
        </div>
        <div class="col-sm-12 col-md-2">
            {{ form_row(form.taux) }}
        </div>
        <div class="col-sm-12 col-md-2">
            {{ form_row(form.typeProduct) }}
        </div>
        <div class="col-sm-12 col-md-4">
            {{ form_row(form.commentaire) }}
        </div>
        <div class="col-sm-12 col-md-2">
            {{ form_row(form.dateFacture) }}
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-sm-12 col-md-6">
            {{ form_row(form.document) }}
        </div>
        {% if achat_fournisseur.id is not empty %}
            <div class="col-sm-12 col-md-2">
                {{ form_row(form.etatPaiement) }}
            </div>
        {% else %}
            <div class="col-sm-12 col-md-2">
                {{ form_widget(form.etatPaiement) }}
            </div>
        {% endif %}
    </div>
    {% if etat_facture == 'payé' %}
        <div class="row bg-warning p-2 mb-1">
                
            <div class="col-sm-12 col-md-2">
                {{ form_row(form_decaissement.modePaie) }}
            </div>
            <div class="col-sm-12 col-md-2">
                {{ form_row(form_decaissement.numeroChequeBord) }}
            </div>
            <div class="col-sm-12 col-md-2">
                {{ form_row(form_decaissement.banqueCheque) }}
            </div>
            <div class="col-sm-12 col-md-3">
                {{ form_row(form_decaissement.compteDecaisser) }}
            </div>
            <div class="col-sm-12 col-md-3">
                {{ form_row(form_decaissement.dateDecaissement) }}
            </div>
        </div>


    {% endif %}
    <button class="btn btn-primary">{{ button_label|default('Valider') }}</button>
{{ form_end(form) }}
