{% extends 'base.html.twig' %}

{% block title %}CategorieDepense{% endblock %}

{% block body %}
    <h1>CategorieDepense</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ categorie_depense.id }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ categorie_depense.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_logescom_admin_categorie_depense_index') }}">back to list</a>

    <a href="{{ path('app_logescom_admin_categorie_depense_edit', {'id': categorie_depense.id}) }}">edit</a>

    {{ include('logescom/admin/categorie_depense/_delete_form.html.twig') }}
{% endblock %}
