{% extends 'base_logescom.html.twig' %}
{% set queryParams = app.request.query.all %}
{% set queryString = queryParams|filter((v, k) => k != "page" and k != "ajustement" and k != "id_stock") | url_encode %}

{% block title %}bilan{% endblock %}
{% block bandeau %} {% endblock %}
 {% block carousel %}
    <div id="carouselExampleAutoplaying" class="carousel slide py-2" data-bs-ride="carousel">
    </div>
 {% endblock %}
 {% block categories %} {% endblock %}
 {% block contact %} {% endblock %}
 {% block collaborateurs %} {% endblock %}
 {% block scroll %} {% endblock %}
 {% block footer %} {% endblock %}
 {% block social %} {% endblock %}

{% block produits %}
    {% if app.request.query.has('search') %}
        {% set search = app.request.query.get('search') %}
    {% else %}
        {% set search = search %}
    {% endif %}


    {% if app.request.query.has('date1') %}
        {% set date1 = app.request.query.get('date1') %}
        {% set date2 = app.request.query.get('date2') %}

    {% else %}
        {% set date1 = date1 %}
        {% set date2 = date2 %}
    {% endif %}

    <div class="row my-2">
        {% include "_common/_nav_bilan.html.twig" %}

        <div class="col-sm-12 col-md-10">
            {{ include("_common/_messages_flash.html.twig") }}            
            {% set colspan = devises|length %}
            <table class="table table-bordered table-striped table-hover align-middle">

                <thead class="sticky-top bg-light text-center">
                    <tr>
                        <th colspan="{{colspan + 1 }}" class="text-center  fw-bold bg-info text-white bg-opacity-20">
                            <div class="row align-items-center">
                                <div class="col-9">
                                    <div class="d-flex justify-content-center align-items-center">
                                        <p class="px-1">Situation des caisses à la date du </p>
                                        {% if is_granted("ROLE_RESPONSABLE") %}
                                            <form class="form">
                                                <div class="row">
                                                    <div class="col-sm-12 col-md-5">
                                                        <input type="date" name="date1" value="{{ date1 }}" class="form-control" onChange="this.form.submit()" max="{{ date2 }}"> 
                                                    </div>
                                                    <div class="col-1">au</div>
                                                    <div class="col-sm-12 col-md-6">
                                                        <input type="date" name="date2" value="{{ date2 }}" class="form-control" onChange="this.form.submit()" min="{{ date1}}" max="{{ "now"|date("Y-m-d") }}">
                                                    </div>
                                                </div>
                                                
                                            </form>
                                        {% else %}
                                            <p>{{date1|date("d/m/Y")}}</p>
                                        {% endif %}
                                        <a class="btn btn-light text-center" target="_blank" href="{{path("app_logescom_pdf_pdf_bilan", {lieu_vente : lieu_vente.id, date1 : date1, date2 : date2 })}}"><i class="fa fa-file-pdf fs-6 text-danger"></i></a>
                                    </div>
                                </div>  
                                {# <div class="col-3">
                                    <input type="text" name="search" class="form-control" id="search_personnel" placeholder="Récherchez par vendeur">
                                </div> #}
                                <div class="bg-light text-white" id="result_search_personnel"></div>
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th class=" fw-bold bg-info text-white bg-opacity-20">Désignation</th>
                        {% for devise in devises %}                            
                            <th class=" fw-bold bg-info text-white bg-opacity-20">{{devise.nomDevise|strtoupper}}</th>
                        {% endfor %}
                        {# <th class=" fw-bold bg-info text-white bg-opacity-20">Caisse de Rattachement</th> #}
                    </tr>
                </thead>
                <tbody>
                    {% set cumulCaisses = 0 %}
                    {% for caisse, solde_caisse in solde_caisses %}
                        <tr>
                            <td class=" fw-bold">{{ caisse | ucwords }}</td>
                            {% for solde in solde_caisse %}
                                <td class="text-end  fw-bold">{{ solde.nomDevise == 'gnf' ? solde.solde | number_format(0,',',' ') : solde.solde | number_format(2,',',' ')}}</td>
                            {% endfor %}

                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr class="bg-info text-white bg-opacity-20">
                        <th class="bg-info text-white bg-opacity-20  fw-bold">Totaux</th>
                        {% for cumul in solde_caisses_devises %}
                            <th class="bg-info text-white bg-opacity-20 text-end  fw-bold">{{ cumul.nomDevise == 'gnf' ? cumul.solde | number_format(0,',',' ') : cumul.solde | number_format(2,',',' ')}}</th>
                        {% endfor %}
                    </tr>
                </tfoot>
            </table>

            <table class="table table-bordered table-striped table-hover align-middle">

                <thead class="sticky-top bg-light text-center">
                    <tr>
                        <th colspan="2" class="text-center  fw-bold bg-info text-white bg-opacity-20">
                            <div class="row align-items-center">
                                <div class="col-9">
                                    <div class="d-flex justify-content-center align-items-center">
                                        <p class="px-1">Bilan Journalier à la date du {{date1|date("d/m/Y") ~ " au " ~ date2|date("d/m/Y")}}</p>
                                    </div>
                                </div>  
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th class=" fw-bold bg-info text-white bg-opacity-20">Désignation</th>
                        <th class=" fw-bold bg-info text-white bg-opacity-20">Valeurs</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class=" fw-bold">Nombre de Ventes</td>
                        <td class=" fw-bold text-center">{{nombre_ventes}}</td>
                    </tr>
                    <tr>
                        <td class=" fw-bold">Chiffres d'affaires</td>
                        <td class=" fw-bold text-center">{{chiffre_affaire|number_format(0,',',' ')}}</td>
                    </tr>
                    <tr>
                        <td class=" fw-bold">Charges</td>
                        <td class=" fw-bold text-center">
                            {% for total_depense in total_depenses %}
                                {{ total_depense.nomDevise == 'gnf' ? ((total_depense.montantTotal | number_format(0,',',' ')) ~ " "~ total_depense.nomDevise|strtoupper ~ " / ") : ((total_depense.montantTotal | number_format(2,',',' ')) ~ " "~ total_depense.nomDevise|strtoupper ~ " / ")}}
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td class=" fw-bold">Anomalies</td>
                        <td class=" fw-bold text-center">{{0|number_format(2,',',' ')}}</td>
                    </tr>
                    <tr>
                        <td class=" fw-bold">Var Devise</td>
                        <td class=" fw-bold text-center">{{0|number_format(2,',',' ')}}</td>
                    </tr>
                    {% if is_granted("ROLE_RESPONSABLE") %}
                        <tr>
                            <td class=" fw-bold">Bénéfice</td>
                            <td class=" fw-bold text-center">{{(benefice_ventes - total_depenses_devise)|number_format(0,',',' ')}}</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>

            <table class="table table-bordered table-striped table-hover align-middle">

                <thead class="sticky-top bg-light text-center">
                    <tr>
                        <th colspan="{{colspan + 1 }}" class="text-center  fw-bold bg-info text-white bg-opacity-20">
                            <div class="row align-items-center">
                                <div class="col-9">
                                    <div class="d-flex justify-content-center align-items-center">
                                        <p class="px-1">Bilan détaillé à la date du {{date1|date("d/m/Y") ~ " au " ~ date2|date("d/m/Y")}} </p>
                                    </div>
                                </div>  
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th class=" fw-bold bg-info text-white bg-opacity-20">Désignation</th>
                        {% for devise in devises %}                            
                            <th class=" fw-bold bg-info text-white bg-opacity-20">{{devise.nomDevise|strtoupper}}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for facturation in facturations %}
                    
                        {% for type, facturationType in facturation %}                      
                            <tr>
                                <td class="">{{ type|ucfirst }}</td>
                                {% for facturationMontant in facturationType %}
                                    <td class="text-end ">{{ facturationMontant.nomDevise == 'gnf' ? facturationMontant.montantTotal | number_format(0,',',' ') : facturationMontant.montantTotal | number_format(2,',',' ')}}</td>
                                {% endfor %}

                            </tr>
                        {% endfor %}
                    {% endfor %}
                    <tr>
                        <td class="fw-bold"> Totaux Facturations</td>
                        {% for cumul in solde_caisses_type %}
                            <td class="text-end  fw-bold">
                                {{cumul.nomDevise == 'gnf' ? cumul.solde|number_format(0,',',' ') : cumul.solde|number_format(2,',',' ')}}
                            </td>
                        {% endfor %}                      
                    </tr>
                    <tr class="text-success">
                        <td class="fw-bold" >Chiffres d'affaires</td>
                        <td class="fw-bold text-center" colspan="{{colspan}}">{{chiffre_affaire|number_format(0,',',' ')}}</td>
                    </tr>
                    <tr class="text-danger">
                        <td class="fw-bold" >Créances Clients</td>
                        <td class="fw-bold text-center" colspan="{{colspan}}">{{(chiffre_affaire - facturations_payees)|number_format(0,',',' ')}}</td>
                    </tr>
                    <tr class="text-success">
                        <td class="fw-bold text-center" colspan="{{colspan + 1}}">Encaissements</td>
                    </tr>
                    {% for versement in versements %}
                    
                        {% for type, versementType in versement %}                      
                            <tr>
                                <td class="">{{ type|ucfirst }}</td>
                                {% for versementMontant in versementType %}
                                    <td class="text-end ">{{ versementMontant.nomDevise == 'gnf' ? versementMontant.montantTotal | number_format(0,',',' ') : versementMontant.montantTotal | number_format(2,',',' ')}}</td>
                                {% endfor %}

                            </tr>
                        {% endfor %}
                    {% endfor %}

                    {% for cloture in clotures %}                    
                        {% for type, clotureType in cloture %}                      
                            <tr>
                                <td class="">{{ type|ucfirst }}</td>
                                {% for clotureMontant in clotureType %}
                                    <td class="text-end ">{{ clotureMontant.nomDevise == 'gnf' ? clotureMontant.montantTotal | number_format(0,',',' ') : clotureMontant.montantTotal | number_format(2,',',' ')}}</td>
                                {% endfor %}

                            </tr>
                        {% endfor %}
                    {% endfor %}

                    {% for echange in echanges %}                    
                        {% for type, echangeType in echange %}                      
                            <tr>
                                <td class="">{{ type|ucfirst }}</td>
                                {% for echangeMontant in echangeType %}
                                    {% if echangeMontant.montantTotal > 0 %}
                                        <td class="text-end ">{{ echangeMontant.nomDevise == 'gnf' ? echangeMontant.montantTotal | number_format(0,',',' ') : echangeMontant.montantTotal | number_format(2,',',' ')}}</td>
                                    {% else %}
                                        <td class="text-end ">0</td>
                                        
                                    {% endif %}
                                {% endfor %}

                            </tr>
                        {% endfor %}
                    {% endfor %}

                    {% for transfert in transferts %}                    
                        {% for type, transfertType in transfert %}                      
                            <tr>
                                <td class="">{{ type|ucfirst }}</td>
                                {% for transfertMontant in transfertType %}
                                    {% if transfertMontant.montantTotal > 0 %}
                                        <td class="text-end ">{{ transfertMontant.nomDevise == 'gnf' ? transfertMontant.montantTotal | number_format(0,',',' ') : transfertMontant.montantTotal | number_format(2,',',' ')}}</td>
                                    {% else %}
                                        <td class="text-end ">0</td>
                                        
                                    {% endif %}
                                {% endfor %}

                            </tr>
                        {% endfor %}
                    {% endfor %}

                    {% for recette in recettes %}                    
                        {% for type, recetteType in recette %}                      
                            <tr>
                                <td class="">{{ type|ucfirst }}</td>
                                {% for recetteMontant in recetteType %}
                                    {% if recetteMontant.montantTotal > 0 %}
                                        <td class="text-end ">{{ recetteMontant.nomDevise == 'gnf' ? recetteMontant.montantTotal | number_format(0,',',' ') : recetteMontant.montantTotal | number_format(2,',',' ')}}</td>
                                    {% else %}
                                        <td class="text-end ">0</td>
                                        
                                    {% endif %}
                                {% endfor %}

                            </tr>
                        {% endfor %}
                    {% endfor %}

                    <tr class="text-success">
                        <td class="fw-bold" >Totaux Enacaissements</td>
                        {% for totauxEncaissement in totauxEncaissements %}
                            <td class="fw-bold text-end">{{ totauxEncaissement.nomDevise == 'gnf' ? (totauxEncaissement.montantTotal)|number_format(0,',',' ') : ( totauxEncaissement.montantTotal)|number_format(2,',',' ')}}</td>
                        {% endfor %}
                    </tr>
                    <tr class="text-info">
                        <td class="fw-bold" >Total des Entrées</td>
                        {% for totalEntree in totalEntrees %}
                            <td class="fw-bold text-end">{{ totalEntree.nomDevise == 'gnf' ? (totalEntree.montantTotal)|number_format(0,',',' ') : ( totalEntree.montantTotal)|number_format(2,',',' ')}}</td>
                        {% endfor %}
                    </tr>

                    <tr class="text-danger">
                        <td class="fw-bold text-center" colspan="{{colspan + 1}}">Décaissements</td>
                    </tr>
                    {% for decaissement in decaissements %}
                    
                        {% for type, decaissementType in decaissement %}                      
                            <tr>
                                <td class="">{{ type|ucfirst }}</td>
                                {% for decaissementMontant in decaissementType %}
                                    <td class="text-end ">{{ decaissementMontant.nomDevise == 'gnf' ? (- decaissementMontant.montantTotal)|number_format(0,',',' ') : ( - decaissementMontant.montantTotal)|number_format(2,',',' ')}}</td>
                                {% endfor %}

                            </tr>
                        {% endfor %}
                    {% endfor %}

                    {% for depense in depenses %}
                    
                        {% for type, depenseType in depense %}                      
                            <tr>
                                <td class="">{{ type|ucfirst }}</td>
                                {% for depenseMontant in depenseType %}
                                    <td class="text-end ">{{ depenseMontant.nomDevise == 'gnf' ? (- depenseMontant.montantTotal)|number_format(0,',',' ') : ( - depenseMontant.montantTotal)|number_format(2,',',' ')}}</td>
                                {% endfor %}

                            </tr>
                        {% endfor %}
                    {% endfor %}

                    {% for clotureManquant in clotures_manquant %}
                    
                        {% for type, clotureManquantType in clotureManquant %}                      
                            <tr>
                                <td class="">{{ type|ucfirst }}</td>
                                {% for clotureManquantMontant in clotureManquantType %}
                                    <td class="text-end ">{{ clotureManquantMontant.nomDevise == 'gnf' ? (- clotureManquantMontant.montantTotal)|number_format(0,',',' ') : ( - clotureManquantMontant.montantTotal)|number_format(2,',',' ')}}</td>
                                {% endfor %}

                            </tr>
                        {% endfor %}
                    {% endfor %}

                    {% for echange in echanges %}                    
                        {% for type, echangeType in echange %}                      
                            <tr>
                                <td class="">{{ type|ucfirst }}</td>
                                {% for echangeMontant in echangeType %}
                                    {% if echangeMontant.montantTotal < 0 %}
                                        <td class="text-end ">{{ echangeMontant.nomDevise == 'gnf' ? ( - echangeMontant.montantTotal)|number_format(0,',',' ') : ( - echangeMontant.montantTotal)|number_format(2,',',' ')}}</td>
                                    {% else %}
                                        <td class="text-end ">0</td>
                                        
                                    {% endif %}
                                {% endfor %}

                            </tr>
                        {% endfor %}
                    {% endfor %} 
                    {% for transfertSortie in transfertsSortie %} 
                                     
                        {% for type, transfertTypeSortie in transfertSortie %}                      
                            <tr>
                                <td class="">{{ type|ucfirst }}</td>
                                {% for transfertMontant in transfertTypeSortie %}
                                    {% if transfertMontant.montantTotal < 0 %}
                                        <td class="text-end ">{{ transfertMontant.nomDevise == 'gnf' ? transfertMontant.montantTotal|abs | number_format(0,',',' ') : transfertMontant.montantTotal|abs | number_format(2,',',' ')}}</td>
                                    {% else %}
                                        <td class="text-end ">0</td>
                                        
                                    {% endif %}
                                {% endfor %}

                            </tr>
                        {% endfor %}
                    {% endfor %}

                    <tr class="text-danger">
                        <td class="fw-bold" >Totaux des Décaissements</td>
                        {% for totauxDecaissement in totauxDecaissements %}
                            <td class="fw-bold text-end">{{ totauxDecaissement.nomDevise == 'gnf' ? (- totauxDecaissement.montantTotal)|number_format(0,',',' ') : ( - totauxDecaissement.montantTotal)|number_format(2,',',' ')}}</td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>

            <table class="table table-bordered table-striped table-hover align-middle">

                <thead class="sticky-top bg-light text-center">
                    <tr>
                        <th colspan="4" class="text-center  fw-bold bg-info text-white bg-opacity-75">
                            Mouvements des caisses du {{date1|date("d/m/Y") ~ " au " ~ date2|date("d/m/Y")}}
                            <div class="row align-items-center ">
                                <div class="col-5">
                                    <form >
                                        <input type="hidden" name="date1" value="{{ date1 }}">
                                        <input type="hidden" name="date2" value="{{ date2 }}">
                                        <select name="search_devise" id="" class="form-select" onChange="this.form.submit()">
                                            {% if search_devise is not empty %}
                                                <option value="{{ search_devise.id }}">{{search_devise.nomDevise|strtoupper}}</option>
                                            {% endif %}
                                            
                                            {% for devise in devises %}
                                                <option value="{{devise.id}}">{{devise.nomDevise|strtoupper}}</option>
                                            {% endfor %}
                                        </select>
                                    </form>
                                </div>

                                <div class="col-5">
                                    <form >
                                        <input type="hidden" name="date1" value="{{ date1 }}">
                                        <input type="hidden" name="date2" value="{{ date2 }}">
                                        <input type="hidden" name="search_caisse" value="{{search_caisse.id}}">
                                        <select name="search_caisse" id="" class="form-select" onChange="this.form.submit()">
                                            {% if search_caisse is empty %}
                                                <option value="">Selectionnez une caisse</option>
                                            {% else %}
                                                <option value="{{ search_caisse.id }}">{{search_caisse.designation}}</option>
                                            {% endif %}
                                            
                                            {% for caisse in liste_caisse %}
                                                <option value="{{caisse.id}}">{{caisse.designation}}</option>
                                            {% endfor %}
                                        </select>
                                    </form>
                                </div>

                                

                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th class=" fw-bold bg-info text-white bg-opacity-75">Désignation</th>
                        <th class=" fw-bold bg-info text-white bg-opacity-75">Nbre</th>
                        <th class=" fw-bold bg-success bg-opacity-75">Entrées</th>
                        <th class=" fw-bold bg-danger bg-opacity-75">Sorties</th>
                    </tr>
                </thead>
                <tbody>
                    {% set cumulCaissesTypesEntrees = 0 %}
                    {% set cumulCaissesTypesSorties = 0 %}
                    {% set cumulNbreOp = 0 %}
                    {% for solde_type in solde_types %}                        
                        {% set cumulNbreOp = cumulNbreOp + solde_type.nbre %}

                        <tr>
                            <td class="fw-bold">
                                {# {{ solde_type.mouvement.typeMouvement | ucwords}}  #}
                                {% if solde_type.mouvement.typeMouvement == "facturation" %}
                                    Facturations payées
                                    <a class="fw-bold btn btn-light  text-start" href="{{ path('app_logescom_vente_facturation_index', {lieu_vente : lieu_vente.id }) }}"><i class="fa fa-eye"></i></a>
                                
                                {% elseif solde_type.mouvement.typeMouvement == "frais sup" %}
                                    Frais supplementaires
                                    <a class="fw-bold btn btn-light  text-start" href="{{ path('app_logescom_vente_facturation_index', {lieu_vente : lieu_vente.id }) }}"><i class="fa fa-eye"></i></a>
                                {% elseif solde_type.mouvement.typeMouvement == "salaires" %}
                                    Salaires payés
                                    <a class="fw-bold btn btn-light  text-start" href="{{path("app_logescom_personnel_paiement_salaire_personnel_index", {lieu_vente : lieu_vente.id })}}"><i class="fa fa-eye"></i></a>
                                {% elseif solde_type.mouvement.typeMouvement == "depenses" %}
                                    Dépenses enregistrées
                                    <a class="fw-bold btn btn-light  text-start" href="{{ path('app_logescom_sorties_depenses_index', {lieu_vente : lieu_vente.id }) }}"><i class="fa fa-eye"></i></a>
                                {% elseif solde_type.mouvement.typeMouvement == "decaissement" %}
                                    Decaissements enregistrés
                                    <a class="fw-bold btn btn-light  text-start" href="{{ path('app_logescom_sorties_decaissement_index', {lieu_vente : lieu_vente.id }) }}"><i class="fa fa-eye"></i></a>
                                {% elseif solde_type.mouvement.typeMouvement == "avance salaire" %}
                                    Avance sur salaire des personnels
                                    <a class="fw-bold btn btn-light  text-start" href="{{path("app_logescom_personnel_avance_salaire_index", {lieu_vente : lieu_vente.id })}}"><i class="fa fa-eye"></i></a>
                                
                                {% elseif solde_type.mouvement.typeMouvement == "versement" %}
                                    Versements éffectués
                                    <a class="fw-bold btn btn-light  text-start" href="{{ path('app_logescom_entrees_versement_index', {lieu_vente : lieu_vente.id }) }}"><i class="fa fa-eye"></i></a>

                                {% elseif solde_type.mouvement.typeMouvement == "transfert" %}
                                    Transfert des fonds
                                    <a class="fw-bold btn btn-light  text-start" href="{{ path('app_logescom_caisse_transfert_fond_index', {lieu_vente : lieu_vente.id }) }}"><i class="fa fa-eye"></i></a>
                                
                                {% elseif solde_type.mouvement.typeMouvement == "echange" %}
                                    Echanges devise
                                    <a class="fw-bold btn btn-light  text-start" href="{{ path('app_logescom_caisse_echange_devise_index', {lieu_vente : lieu_vente.id }) }}"><i class="fa fa-eye"></i></a>

                                

                                {% elseif solde_type.mouvement.typeMouvement == "cloture" %}
                                    Clôtures des caisses
                                    <a class="fw-bold btn btn-light  text-start" href="{{ path('app_logescom_bilan_cloture', {lieu_vente : lieu_vente.id }) }}"><i class="fa fa-eye"></i></a>
                                {% else %}
                                    Autres {{solde_type.mouvement.typeMouvement}} 
                                    <a class="fw-bold btn btn-light  text-start" href="#"><i class="fa fa-eye"></i></a>
                                {% endif %}
                            </td>
                            <td class="fw-bold text-center">{{ solde_type.nbre }}</td>
                            {% set nomDevise = solde_type.mouvement.devise.nomDevise %}
                            {% if solde_type.solde >=0 %}
                                {% set cumulCaissesTypesEntrees = cumulCaissesTypesEntrees + solde_type.solde %}

                                <td class="text-end  fw-bold">{{nomDevise == 'gnf' ? solde_type.solde|number_format(0,',',' ') : solde_type.solde|number_format(2,',',' ')}}</td>

                                <td>--</td>
                            {% else %}
                                {% set cumulCaissesTypesSorties = cumulCaissesTypesSorties + solde_type.solde %}

                                <td>--</td>
                                <td class="text-end  fw-bold">{{nomDevise == 'gnf' ? (-1 * solde_type.solde)|number_format(0,',',' ') : (-1 * solde_type.solde)|number_format(2,',',' ')}}</td>                                
                            {% endif %}

                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    {% set nomDevise = search_devise.nomDevise %}
                    <tr class="bg-info text-white bg-opacity-75">
                        <th class="bg-info text-white bg-opacity-75  fw-bold">Totaux</th>
                        <th class="bg-info text-white bg-opacity-75 text-center  fw-bold">{{ cumulNbreOp }}</th>
                        <th class="bg-success bg-opacity-75 text-end  fw-bold">{{ nomDevise == 'gnf' ? cumulCaissesTypesEntrees|number_format(0,',',' ') : cumulCaissesTypesEntrees|number_format(2,',',' ') }}</th>
                        <th class="bg-danger bg-opacity-75 text-end  fw-bold">{{ nomDevise == 'gnf' ? (-1 * cumulCaissesTypesSorties)|number_format(0,',',' ') : (-1 * cumulCaissesTypesSorties)|number_format(2,',',' ')}}</th>
                        
                    </tr>
                    <tr>
                        <th colspan="2" class="bg-success  fw-bold text-center text-white" >Solde Général</th>
                        <th colspan="2" class="bg-success text-center text-white  fw-bold">{{ nomDevise == 'gnf' ? (cumulCaissesTypesEntrees + cumulCaissesTypesSorties )|number_format(0,',',' ') : (cumulCaissesTypesEntrees + cumulCaissesTypesSorties )|number_format(2,',',' ')}}</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
{% endblock %}