{% extends 'base_logescom_home.html.twig' %}

{% block title %}collaborateurs{% endblock %}
 {% block carousel %}
    <div id="carouselExampleAutoplaying" class="carousel slide py-2" data-bs-ride="carousel">
    </div>
 {% endblock %}
 {% block categories %} {% endblock %}
 {% block contact %} {% endblock %}
 {% block collaborateurs %} {% endblock %}
 {% block scroll %} {% endblock %}
 {% block footer %} {% endblock %}
 {% block social %} {% endblock %}

{% block produits %}
    <div class="row">
        {% include "_common/_nav_admin.html.twig" %}

        <div class="col-sm-12 col-md-10">
            <table class="table table-bordered table-striped table-hover align-middle text-center">
                <thead class="sticky-top bg-light text-center">
                    <tr>                        
                        <th colspan="3">Liste des collaborateurs <a class="btn btn-primary" href="{{ path('app_admin_collaborateurs_new') }}">Ajouter un collaborateur</a></th>
                    </tr>
                    <tr>
                        <th>N°</th>
                        <th>logo</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for key, collaborateur in collaborateurs %}
                        <tr>
                            <td>{{ (key +1 ) }}</td>
                            <td>
                                <img src="{{asset(chemin_images_logos) ~ collaborateur.logo}}" alt="image banniere" class="img-banniere-miniature">
                            </td>
                            <td class="text-center">
                                {# <a class="btn btn-success" href="{{ path('app_admin_collaborateurs_show', {'id': collaborateurs.id}) }}"><i class="fa fa-eye"></i></a> #}
                                <a onclick="alerteS()" class="btn btn-danger" href="{{ path('app_admin_collaborateurs_delete', {'id': collaborateur.id}) }}"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="3">Aucun collaborateur enregistré</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>

{% endblock %}
