{% extends 'base_logescom.html.twig' %}
{% set queryParams = app.request.query.all %}
{% set queryString = queryParams|filter((v, k) => k != "page" and k != "transfert" and k != "id_stock") | url_encode %}

{% block title %}transfert externe{% endblock %}
{% block bandeau %} {% endblock %}
 {% block carousel %}
    <div id="carouselExampleAutoplaying" class="carousel slide py-2" data-bs-ride="carousel">
    </div>
 {% endblock %}
 {% block categories %} {% endblock %}
 {% block contact %} {% endblock %}
 {% block collaborateurs %} {% endblock %}
 {% block scroll %} {% endblock %}
 {% block footer %} {% endblock %}
 {% block social %} {% endblock %}

{% block produits %}
    {% if app.request.query.has('search') %}
        {% set search = app.request.query.get('search') %}
    {% else %}
        {% set search = search %}
    {% endif %}

    {% set nbrePages = stocks.nbrePages %}
    {% set pageEncours = stocks.pageEncours %}
    {% set nbreTransPages = liste_transferts.nbrePages %}
    {% set pageTransEncours = liste_transferts.pageEncours %} 
    {% set id = lieu_vente.id %}

    <div class="row">
        {% include "_common/_nav_stock_transfert.html.twig" %}
        <div class="col-sm-12 col-md-10" >
            {% include "_common/_messages_flash.html.twig" %}
            <table class="table table-bordered table-striped table-hover align-middle" >
                <thead class="sticky-top bg-info text-center text-white">
                    <tr>
                        <th class="bg-info" colspan="7">
                            <div class="d-flex justify-content-between">
                                <form  class="form"  method="GET">
                                    <select onChange="this.form.submit()" name="magasin" id="" class="form-select">
                                        <option value="{{magasin.id}}">{{magasin.nomStock}}</option>

                                        {% for liste_stock in liste_stocks %}                            
                                            <option value="{{liste_stock.id}}">{{liste_stock.nomStock}}</option>
                                        {% endfor %}
                                    </select>
                                </form>
                                {# {{dump(transfert)}} #}
                                <h5 class="text-center bg-warning">Transfert des produits de {{lieu_vente.lieu|ucwords}} vers {{transfert.lieuVenteRecep.lieu|ucwords}} </h5>
                                <form class="d-flex" role="search">
                                    <input class="form-control me-2" type="search" name="search" placeholder="Search" aria-label="Search">
                                    <input class="form-control" type="hidden" name="magasin" value="{{magasin.id}}">
                                    <button class="btn btn-outline-success" type="submit">Search</button>
                                </form>
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th>Référence</th>
                        <th>Désignation</th>
                        <th>Qtite dispo</th>
                        <th>Qtite transf</th>
                        <th>Réception</th>
                        <th>Commentaire</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for key, stock in stocks.data %}                        
                        <tr>
                            <td>{{ stock.products.reference|strtoupper }}</td>
                            <td>{{ stock.products.designation|ucwords }}</td>
                            <td class="text-center">{{ stock.quantite }}</td>
                            <form class="form" method="POST" action="{{ path('app_logescom_stock_transfert_products', {'id': transfert.id, lieu_vente : lieu_vente.id}) }}">
                                <td class="text-end">
                            
                                    {% if is_granted("ROLE_GESTIONNAIRE") %}     
                                        <input type="number" name="quantite" min="1" max="{{stock.quantite}}" class="form-control text-center mx-1">

                                        <input type="hidden" name="id_stock" value="{{stock.id}}">
                                        <input class="form-control" type="hidden" name="magasin" value="{{magasin.id}}">
                                        <input class="form-control" type="hidden" name="search" value="{{search}}">
                                        <input class="form-control" type="hidden" name="pageEncours" value="{{pageEncours}}">
                                        <input class="form-control" type="hidden" name="pageTransEncours" value="{{pageTransEncours}}">
                                        <input type="hidden" name="transfert" value="appro_initial">
                                        
                                    {% else %}
                                        {{ stock.quantite }}                                    
                                    {% endif %}
                                </td>

                                <td class="text-center"> 
                                    <div class="d-flex justify-content-between align-items-center">
                                        {% if transfert.lieuVenteDepart.id == transfert.lieuVenteRecep.id %}
                                            <select name="id_stock_recep" id="" class="form-select">
                                                <option value=""></option>
                                                {% for liste_stock in liste_stocks %}
                                                    {% if liste_stock.id != magasin.id %}
                                                        <option value="{{liste_stock.id}}">{{liste_stock.nomStock}}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        {% else %}
                                            <select name="id_stock_recep" id="" class="form-select">
                                                <option value="{{transfert.lieuVenteRecep.id}}">{{transfert.lieuVenteRecep.lieu}}</option>
                                                {% for liste_lieu_vente in liste_lieux_vente %}
                                                    <option value="{{liste_lieu_vente.id}}">{{liste_lieu_vente.lieu}}</option>
                                                {% endfor %}
                                            </select>
                                        {% endif %}
                                        
                                    </div>
                                </td>                                
                                <td><input type="text" name="commentaire" class="form-control"></td>
                                <td class="text-center">
                                    <div class="d-flex justify-content-center">
                                        {% if is_granted("ROLE_GESTIONNAIRE") %}
                                            <button onClick="alerteConfirmation()" class="btn btn-warning mx-1">Transférer</button>
                                        {% endif %}
                                    </div>
                                </td>
                            </form> 
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="9">Aucun produit disponible</td>
                        </tr>
                    {% endfor %}
                </tbody>               
                
                {% set path = 'app_logescom_stock_transfert_products'  %}
                {% if nbrePages > 1 %}                    
    
                    {% if nbrePages %}
                        <nav aria-label="Page navigation example ">
                            <ul class="pagination justify-content-end">
                                {% if pageEncours > 1 %}
                                    <li class="page-item ">
                                        <a class="page-link" href="{{path(path, {id : transfert.id, lieu_vente : lieu_vente.id,  pageEncours : (pageEncours - 1), magasin : magasin.id, search : search})}}">&lt;</a>
                                    </li>
                                {% else %}
                                    <li class="page-item disabled" ><a class="page-link">&lt;</a></li>
                                {% endif %}
                                {% for page in 1..nbrePages %}                
                                    <li class="page-item {{ ( page == pageEncours) ? 'active' : ''}} "><a class="page-link" href="{{path(path, {id : transfert.id, lieu_vente : lieu_vente.id,  pageEncours : page, magasin : magasin.id, search : search})}}">{{page}}</a></li>
                                {% endfor %}
                                {% if pageEncours < nbrePages %}
                                    <li class="page-item "><a class="page-link" href="{{path(path, {id : transfert.id, lieu_vente : lieu_vente.id, pageEncours : pageEncours + 1, magasin : magasin.id, search : search} ) }}">&gt;</a></li>
                                {% else %}
                                    <li class="page-item disabled "><a href="" class="page-link" >&gt;</a></li>
                                {% endif %}
                                </li>
                            </ul>
                        </nav>
    
                    {% endif %}
    
                {% endif %}
            </table>


            <table class="table table-bordered table-striped table-hover align-middle" >
                <thead class="sticky-top bg-success text-center">
                    <tr>
                        <th class="bg-success" colspan="10">Liste des transferts {{ magasin.nomStock|ucwords}}</th>
                    </tr>
                    <tr>
                        <th>N°</th>
                        <th>Date</th>
                        <th>Référence</th>
                        <th>Désignation</th>
                        <th>Départ</th>
                        <th>Qtité</th>
                        <th>Arrivée</th>
                        <th>Commentaire</th>
                        <th>Traité par</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for key, liste_transfert in liste_transferts.data %}                        
                        <tr>
                            <td class="text-center">
                                {{ (key)+1 }}
                            </td>
                            <td class="text-center">{{ liste_transfert.dateTransfert ? liste_transfert.dateTransfert|date('d/m/Y') : "" }}</td>
                            <td>{{ liste_transfert.product.reference }}</td>
                            <td>{{ liste_transfert.product.designation }}</td>
                            <td class="text-center">{{liste_transfert.stockDepart.nomStock|ucwords}}</td>  
                            <td class="text-center">{{liste_transfert.quantite}}</td>
                            <td class="text-center">{{liste_transfert.stockRecep ? liste_transfert.stockRecep.nomStock|ucwords : "non receptionné"}}</td>
                            <td>{{liste_transfert.comentaire|ucfirst}}</td>
                            <td>{{liste_transfert.personnel.prenom|ucwords}}</td>
                            <td class="text-center">
                                {% if is_granted("ROLE_SUPPRESSION") %}
                                    <a onClick="alerteS()" href="{{path("app_logescom_stock_liste_transfert_product_delete", {id : liste_transfert.id})}}" class="btn btn-danger mx-1">Annuler</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="9">Aucun transfert</td>
                        </tr>
                    {% endfor %}
                </tbody> 
                {% if nbreTransPages > 1 %}                    

                    {% if nbreTransPages %}
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-end mt-4">
                                {% if pageTransEncours > 1 %}
                                    <li class="page-item ">
                                        <a class="page-link" href="{{path(path, {id : transfert.id, lieu_vente : lieu_vente.id,  pageTransEncours : (pageTransEncours - 1), magasin : magasin.id, search : search})}}">&lt;</a>
                                    </li>
                                {% else %}
                                    <li class="page-item disabled" ><a class="page-link">&lt;</a></li>
                                {% endif %}
                                {% for page in 1..nbreTransPages %}                
                                    <li class="page-item {{ ( page == pageTransEncours) ? 'active' : ''}} "><a class="page-link" href="{{path(path, {id : transfert.id, lieu_vente : lieu_vente.id,  pageTransEncours : page, magasin : magasin.id, search : search})}}">{{page}}</a></li>
                                {% endfor %}
                                {% if pageTransEncours < nbreTransPages %}
                                    <li class="page-item "><a class="page-link" href="{{path(path, {id : transfert.id, lieu_vente : lieu_vente.id, pageTransEncours : pageTransEncours + 1, magasin : magasin.id, search : search} ) }}">&gt;</a></li>
                                {% else %}
                                    <li class="page-item disabled "><a href="" class="page-link" >&gt;</a></li>
                                {% endif %}
                                </li>
                            </ul>
                        </nav>

                    {% endif %}

                {% endif %}              
                    
            </table>
        </div>
    </div>

{% endblock %}
