{% extends 'base_logescom.html.twig' %}
{% set queryParams = app.request.query.all %}
{% set queryString = queryParams|filter((v, k) => k != "page" and k != "ajustement" and k != "id_stock") | url_encode %}

{% block title %}appro-initial{% endblock %}
{% block bandeau %} {% endblock %}
 {% block carousel %}
    <div id="carouselExampleAutoplaying" class="carousel slide py-2" data-bs-ride="carousel">
    </div>
 {% endblock %}
 {% block categories %} {% endblock %}
 {% block contact %} {% endblock %}
 {% block collaborateurs %} {% endblock %}
 {% block scroll %} {% endblock %}
 {% block footer %} {% endblock %}
 {% block social %} {% endblock %}

{% block produits %}
    {% if app.request.query.has('search') %}
        {% set search = app.request.query.get('search') %}
    {% else %}
        {% set search = search %}
    {% endif %}

    {% set nbrePages = stocks.nbrePages %}
    {% set pageEncours = stocks.pageEncours %}
    {% set nbreMouvPages = liste_appros_initial.nbrePages %}
    {% set pageMouvEncours = liste_appros_initial.pageEncours %} 
    {% set id = lieu_vente.id %}

    <div class="row" >
        {% include "_common/_nav_stock.html.twig" %}
        <div class="col-sm-12 col-md-10" >
            {% include "_common/_messages_flash.html.twig" %}
            <h5 class="text-center">Approvisionnement initial {{magasin.nomStock|ucwords}}</h5>
            
            <div class="table-responsive" style="overflow : auto;">
                <table class="table table-bordered table-striped table-hover align-middle">
                    <thead class="sticky-top bg-info text-center text-white">
                        <tr>
                            <th class="bg-info" colspan="8">
                                <div class="d-flex justify-content-between">
                                    <form class="form" method="GET">
                                        <select onChange="this.form.submit()" name="magasin" id="" class="form-select">
                                            <option value="{{magasin.id}}">{{magasin.nomStock}}</option>

                                            {% for liste_stock in liste_stocks %}
                                                <option value="{{liste_stock.id}}">{{liste_stock.nomStock}}</option>
                                            {% endfor %}
                                        </select>
                                    </form>

                                    <form class="d-flex" role="search">
                                        <input class="form-control me-2" type="search" name="search" placeholder="Search" aria-label="Search">
                                        <input class="form-control" type="hidden" name="magasin" value="{{magasin.id}}">
                                        <button class="btn btn-outline-success" type="submit">Search</button>
                                    </form>
                                </div>
                            </th>
                        </tr>
                        <tr>
                            <th>N°</th>
                            <th>Désignation</th>
                            <th>Qtité</th>
                            <th>P.Achat</th>
                            <th>P.Revient</th>
                            <th>P.Vente</th>
                            <th>Péremption</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for key, stock in stocks.data %}
                            <form class="form" method="POST" action="{{ path('app_logescom_stock_gestion_stock_appro_initial', {'lieu_vente': lieu_vente.id}) }}">

                                <tr>
                                    <td class="text-center">{{ (key)+1 }}</td>

                                    <td class="text-left text-nowrap">
                                        {% if is_granted("ROLE_GESTIONNAIRE") %}
                                            <input type="text" name="designation" value="{{ stock.products.designation }}" class="form-control w-100 d-block mx-1 text-nowrap">
                                        {% else %}
                                            {{ stock.products.designation }}
                                        {% endif %}
                                    </td>
                                    <td class="text-end text-nowrap">
                                        {% if is_granted("ROLE_GESTIONNAIRE") %}
                                            <input type="number" name="quantite" placeholder="{{ stock.quantite }}" class="form-control w-100 d-block text-center text-nowrap">
                                            <input type="hidden" name="id_stock" value="{{stock.id}}">
                                            <input type="hidden" name="magasin" value="{{magasin.id}}">
                                            <input type="hidden" name="search" value="{{search}}">
                                            <input type="hidden" name="pageEncours" value="{{pageEncours}}">
                                            <input type="hidden" name="pageMouvEncours" value="{{pageMouvEncours}}">
                                            <input type="hidden" name="ajustement" value="appro_initial">
                                        {% else %}
                                            {{ stock.quantite }}
                                        {% endif %}
                                    </td>
                                    <td class="text-end">
                                        {% if is_granted("ROLE_GESTIONNAIRE") %}
                                            <input type="text" name="prix_achat" value="{{ stock.prixAchat|number_format(0,',',' ') }}" class="form-control w-100 d-block text-center mx-1">
                                        {% else %}
                                            {{ stock.prixAchat|number_format(0,',',' ') }}
                                        {% endif %}
                                    </td>
                                    <td class="text-end">
                                        {% if is_granted("ROLE_GESTIONNAIRE") %}
                                            <input type="text" name="prix_revient" value="{{ stock.prixRevient|number_format(0,',',' ') }}" class="form-control w-100 d-block text-center mx-1">
                                        {% else %}
                                            {{ stock.prixRevient|number_format(0,',',' ') }}
                                        {% endif %}
                                    </td>
                                    <td class="text-end">
                                        {% if is_granted("ROLE_GESTIONNAIRE") %}
                                            <input type="text" name="prix_vente" value="{{ stock.prixVente|number_format(0,',',' ') }}" class="form-control w-100 d-block text-center mx-1">
                                        {% else %}
                                            {{ stock.prixVente|number_format(0,',',' ') }}
                                        {% endif %}
                                    </td>
                                    <td class="text-end">
                                        {% if is_granted("ROLE_GESTIONNAIRE") %}
                                            <input type="date" name="peremption" value="{{ stock.datePeremption ? stock.datePeremption|date('Y-m-d') : '' }}" class="form-control w-100 d-block text-center mx-1">
                                        {% else %}
                                            {{ stock.datePeremption ? stock.datePeremption|date('Y-m-d') : '' }}
                                        {% endif %}
                                    </td>
                                    <td class="text-center">
                                        <div class="d-flex justify-content-center">
                                            {% if is_granted("ROLE_GESTIONNAIRE") %}
                                                <button class="btn btn-primary mx-1">Ajouter</button>
                                            {% endif %}
                                        </div>
                                    </td>
                                </tr>
                            </form>
                        {% else %}
                            <tr>
                                <td colspan="8">Aucun produit disponible</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    {% set path = 'app_logescom_stock_gestion_stock_appro_initial'  %}
                    {% if nbrePages > 1 %}                    
        
                        {% if nbrePages %}
                            <nav aria-label="Page navigation example ">
                                <ul class="pagination justify-content-start">
                                    {% if pageEncours > 1 %}
                                        <li class="page-item ">
                                            <a class="page-link" href="{{path(path, {lieu_vente : id, pageEncours : (pageEncours - 1), magasin : magasin.id, search : search})}}">&lt;</a>
                                        </li>
                                    {% else %}
                                        <li class="page-item disabled" ><a class="page-link">&lt;</a></li>
                                    {% endif %}
                                    {% for page in 1..nbrePages %}                
                                        <li class="page-item {{ ( page == pageEncours) ? 'active' : ''}} "><a class="page-link" href="{{path(path, {lieu_vente : id, pageEncours : page, magasin : magasin.id, search : search})}}">{{page}}</a></li>
                                    {% endfor %}
                                    {% if pageEncours < nbrePages %}
                                        <li class="page-item "><a class="page-link" href="{{path(path, {lieu_vente : id,pageEncours : pageEncours + 1, magasin : magasin.id, search : search} ) }}">&gt;</a></li>
                                    {% else %}
                                        <li class="page-item disabled "><a href="" class="page-link" >&gt;</a></li>
                                    {% endif %}
                                    </li>
                                </ul>
                            </nav>
        
                        {% endif %}
        
                    {% endif %}
                </table>
            </div>

            <div class="table-responsive">
                <table class="table table-bordered table-striped table-hover align-middle" >
                    <thead class="sticky-top bg-success text-center">
                        <tr>
                            <th class="bg-success" colspan="7">Liste des Approvisionnements initial</th>
                        </tr>
                        <tr>
                            <th>N°</th>
                            <th>Référence</th>
                            <th>Désignation</th>
                            <th>Qtité</th>
                            <th>Stock</th>
                            <th>Traité par</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for key, liste_appro in liste_appros_initial.data %}                        
                            <tr>
                                <td class="text-center">
                                    {{ (key)+1 }}
                                </td>
                                <td>{{ liste_appro.product.reference }}</td>
                                <td>{{ liste_appro.product.designation }}</td>
                                <td class="text-center">{{liste_appro.quantite}}</td>
                                <td class="text-center">{{liste_appro.stockProduct.nomStock|ucwords}}</td>
                                <td>{{liste_appro.personnel.prenom|ucwords}}</td>
                                <td class="text-center">
                                    {% if is_granted("ROLE_GESTIONNAIRE") %}
                                        <a onClick="alerteS()" href="{{path("app_logescom_stock_gestion_stock_appro_initial_delete", {id : liste_appro.id})}}" class="btn btn-danger mx-1">Annuler</a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="9">Aucun approvisionnement initial</td>
                            </tr>
                        {% endfor %}
                    </tbody> 
                    {% if nbreMouvPages > 1 %}                    

                        {% if nbreMouvPages %}
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-end mt-4">
                                    {% if pageMouvEncours > 1 %}
                                        <li class="page-item ">
                                            <a class="page-link" href="{{path(path, {lieu_vente : id, pageMouvEncours : (pageMouvEncours - 1), magasin : magasin.id, search : search})}}">&lt;</a>
                                        </li>
                                    {% else %}
                                        <li class="page-item disabled" ><a class="page-link">&lt;</a></li>
                                    {% endif %}
                                    {% for page in 1..nbreMouvPages %}                
                                        <li class="page-item {{ ( page == pageMouvEncours) ? 'active' : ''}} "><a class="page-link" href="{{path(path, {lieu_vente : id, pageMouvEncours : page, magasin : magasin.id, search : search})}}">{{page}}</a></li>
                                    {% endfor %}
                                    {% if pageMouvEncours < nbreMouvPages %}
                                        <li class="page-item "><a class="page-link" href="{{path(path, {lieu_vente : id,pageMouvEncours : pageMouvEncours + 1, magasin : magasin.id, search : search} ) }}">&gt;</a></li>
                                    {% else %}
                                        <li class="page-item disabled "><a href="" class="page-link" >&gt;</a></li>
                                    {% endif %}
                                    </li>
                                </ul>
                            </nav>

                        {% endif %}

                    {% endif %}              
                    
                </table>
            </div>
        </div>
    </div>

{% endblock %}
