{% extends 'base_logescom_home.html.twig' %}

{% block title %}LiaisonProduit index{% endblock %}

{% block body %}
    <h1>LiaisonProduit index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for liaison_produit in liaison_produits %}
            <tr>
                <td>{{ liaison_produit.id }}</td>
                <td>{{ liaison_produit.type }}</td>
                <td>
                    <a href="{{ path('app_admin_liaison_produit_show', {'id': liaison_produit.id}) }}">show</a>
                    <a href="{{ path('app_admin_liaison_produit_edit', {'id': liaison_produit.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_liaison_produit_new') }}">Create new</a>
{% endblock %}
