{% extends 'base_logescom.html.twig' %}
{% set queryParams = app.request.query.all %}
{% set queryString = queryParams|filter((v, k) => k != "page" and k != "ajustement" and k != "id_stock") | url_encode %}

{% block title %}solde{% endblock %}
{% block bandeau %} {% endblock %}
 {% block carousel %}
    <div id="carouselExampleAutoplaying" class="carousel slide py-2" data-bs-ride="carousel">
    </div>
 {% endblock %}
 {% block categories %} {% endblock %}
 {% block contact %} {% endblock %}
 {% block collaborateurs %} {% endblock %}
 {% block scroll %} {% endblock %}
 {% block footer %} {% endblock %}
 {% block social %} {% endblock %}

{% block produits %}

    <div class="row my-2">
        {% include "_common/_nav_direction.html.twig" %}

        <div class="col-sm-12 col-md-10">
            {{ include("_common/_messages_flash.html.twig") }}
            
            <div class="row bg-info bg-opacity-50 mx-1 p-2">
                <form class="form" action="">
                    <select class="form-select" name="lieu" id="" onChange="this.form.submit()">
                        <option value="général">Général</option>
                        {% for lieu in lieux_ventes %}
                            <option value="{{lieu.id}}">{{lieu.lieu|ucfirst}}</option>
                        {% endfor %}
                    </select>
                </form>
                <div class="d-flex justify-content-between p-2  ">
                    
                    {% for taux in taux_devise %}
                        <form class="col-4 d-flex align-items-center">
                            <input type="hidden" name="id_taux" value="{{taux.id}}">
                            <label class="form-label mx-1 text-white" for="">{{taux.devise.nomDevise|strtoupper}}</label>
                            <input onChange="this.form.submit()" type="text" name="montant" value="{{taux.taux|number_format(0,',',' ')}}" class="form-control">
                        </form>

                    {% endfor %}
                </div>


                
            </div>

            <div class="row bg-danger mx-1 my-1">
                <div class="d-flex justify-content-between p-2  ">
                    {% for devise, dette in dettes %}
                        <div class="bg-white p-2 text-center">
                            <label class="fw-bold text-center">DETTES {{devise|strtoupper}}</label>
                            <div class="fw-bold text-white text-center px-1" style="background-color:black;">{{ devise == 'gnf' ? dette|number_format(0,',',' ') : dette|number_format(2,',',' ') }}</div>
                        </div>
                    {% endfor %}

                    <div class="bg-white p-2 text-center">
                        <label class="fw-bold text-center">TOTAL DES DETTES</label>
                        <div class="fw-bold text-white text-center px-1" style="background-color:black;">{{ total_dettes|number_format(2,',',' ') }}</div>
                    </div>
                </div>
            </div>

            <div class="row bg-warning mx-1 my-1">
                <div class="d-flex justify-content-between p-2  ">
                    {% for devise, creance in creances %}
                        <div class="bg-white p-2 text-center">
                            <label class="fw-bold text-center">CREANCES {{devise|strtoupper}}</label>
                            <div class="fw-bold text-white text-center px-1" style="background-color:black;">{{ devise == 'gnf' ? (- creance)|number_format(0,',',' ') : (- creance)|number_format(2,',',' ') }}</div>
                        </div>
                    {% endfor %}

                    <div class="bg-white p-2 text-center">
                        <label class="fw-bold text-center">TOTAL DES CREANCES</label>
                        <div class="fw-bold text-white text-center px-1" style="background-color:black;">{{ (- total_creances)|number_format(2,',',' ') }}</div>
                    </div>
                </div>
            </div>

            <div class="row bg-success mx-1 my-1">
                <div class="d-flex justify-content-between p-2  ">
                    {% for caisse in caisses %}
                        <div class="bg-white p-2 text-center">
                            <label class="fw-bold text-center">CAISSE {{caisse.devise|strtoupper}}</label>
                            <div class="fw-bold text-white text-center px-1" style="background-color:black;">{{ caisse.devise == 'gnf' ? (caisse.montant)|number_format(0,',',' ') : (caisse.montant)|number_format(2,',',' ') }}</div>
                        </div>
                    {% endfor %}

                    <div class="bg-white p-2 text-center">
                        <label class="fw-bold text-center">TOTAL DES CAISSES</label>
                        <div class="fw-bold text-white text-center px-1" style="background-color:black;">{{ total_caisses|number_format(2,',',' ') }}</div>
                    </div>

                </div>
            </div>

            <div class="row bg-success bg-opacity-75 mx-1 my-1">
                <div class="d-flex justify-content-between p-2  ">
                    {% for banque in banques %}
                        <div class="bg-white p-2 text-center">
                            <label class="fw-bold text-center">BANQUE {{banque.devise|strtoupper}}</label>
                            <div class="fw-bold text-white text-center px-1" style="background-color:black;">{{ banque.devise == 'gnf' ? (banque.montant)|number_format(0,',',' ') : (banque.montant)|number_format(2,',',' ') }}</div>
                        </div>
                    {% endfor %}
                    <div class="bg-white p-2 text-center">
                        <label class="fw-bold text-center">TOTAL DES BANQUES</label>
                        <div class="fw-bold text-white text-center px-1" style="background-color:black;">{{ total_banques|number_format(2,',',' ') }}</div>
                    </div>
                </div>
            </div>

            <div class="row bg-secondary bg-opacity-75 mx-1 my-1">
                <div class="d-flex justify-content-between align-items-center w-100  ">
                    <div class="row w-100 px-2">
                        {% for stock in stocks %}
                            <div class="col-sm-6 col-md-3 bg-white p-2 text-center">
                                <label class="fw-bold text-center">Stock {{stock.nomStock|ucfirst}}</label>
                                <div class="fw-bold text-white text-center px-1" style="background-color:black;">{{ stock.montantStock|number_format(0,',',' ') }}</div>
                            </div>
                        {% endfor %}
                    </div>

                    <div class="bg-white px-2 text-center">
                        <label class="fw-bold text-center">Stock total</label>
                        <div class="fw-bold text-white text-nowrap text-center px-1" style="background-color:black;">{{ total_stocks|number_format(2,',',' ') }}</div>
                    </div>
                </div>
            </div>

            <div class="row bg-primary bg-opacity-75 mx-1 my-1">
                <div class="d-flex justify-content-between align-items-center p-2  ">
                    {% set disponibilite = total_caisses + total_banques %}
                    <div class="bg-white p-2 text-center">
                        <label class="fw-bold text-center">DISPONIBILITES</label>
                        <div class="fw-bold text-white text-center px-1" style="background-color:black;">{{ (disponibilite)|number_format(2,',',' ') }}</div>
                    </div>

                    <span class="bg-white fw-bold fs-3 p-1 text-success">+</span>

                    <div class="bg-white p-2 text-center">
                        <label class="fw-bold text-center">STOCKS</label>
                        <div class="fw-bold text-white text-center px-1" style="background-color:black;">{{ (total_stocks)|number_format(2,',',' ') }}</div>
                    </div>

                    {% if total_dettes > total_creances %}
                        <span class="bg-white fw-bold fs-3 p-1 text-success">-</span>
                    {% else %}
                        <span class="bg-white fw-bold fs-3 p-1 text-success">+</span>                        
                    {% endif %}
                    {% set solde_credit = (total_dettes - (- total_creances)) %}
                    <div class="bg-white p-2 text-center">
                        <label class="fw-bold text-center">SOLDE CREDITS</label>
                        <div class="fw-bold text-white text-center px-1" style="background-color:black;">{{ (solde_credit)|number_format(2,',',' ') }}</div>
                    </div>
                    <span class="bg-white fw-bold fs-3 p-1 text-success">+</span>

                    <div class="bg-white p-2 text-center">
                        <label class="fw-bold text-center">Anomalie Stocks</label>
                        <div class="fw-bold text-white text-center px-1" style="background-color:black;">{{ (anomalies)|number_format(0,',',' ') }}</div>
                    </div>
                    <span class="bg-white fw-bold fs-3 p-1 text-success">+</span>

                    <div class="bg-white p-2 text-center">
                        <label class="fw-bold text-center">Gain Devise</label>
                        <div class="fw-bold text-white text-center px-1" style="background-color:black;">{{ (0)|number_format(0,',',' ') }}</div>
                    </div>
                </div>
            </div>

            <div class="row bg-info bg-opacity-75 mx-1 my-1">
                <div class="d-flex justify-content-between p-2  ">
                    {% if total_dettes > total_creances %}
                        {% set solde_compte = disponibilite + total_stocks - solde_credit + anomalies + gain_devise  %}

                    {% else %}
                        {% set solde_compte = disponibilite + total_stocks + solde_credit + anomalies + gain_devise  %}                        
                    {% endif %}
                    <div class="bg-white p-2 text-center">
                        <label class="fw-bold text-center">SOLDE COMPTE {{"now"|date("Y")}}</label>
                        <div class="fw-bold text-white text-center px-1" style="background-color:black;">{{ solde_compte|number_format(2,',',' ') }}</div>
                    </div>

                    <div class="bg-white p-2 text-center">
                        <label class="fw-bold text-center">ZAKÄT(2,50%) {{"now"|date("Y")}}</label>
                        <div class="fw-bold text-white text-center px-1" style="background-color:black;">{{ solde_compte > 0 ? (solde_compte * 0.025)|number_format(2,',',' ') : 0 }}</div>
                    </div>

                    <div class="bg-white p-2 text-center">
                        <label class="fw-bold text-center">DEPENSES {{"now"|date("Y")}}</label>
                        <div class="fw-bold text-white text-center px-1" style="background-color:black;">{{ total_depenses|number_format(0,',',' ') }}</div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
{% endblock %}