{% extends 'base_logescom.html.twig' %}
{% set queryParams = app.request.query.all %}
{% set queryString = queryParams|filter((v, k) => k != "page" and k != "ajustement" and k != "id_inv") | url_encode %}

{% block title %}inventaire{% endblock %}
{% block bandeau %} {% endblock %}
 {% block carousel %}
    <div id="carouselExampleAutoplaying" class="carousel slide py-2" data-bs-ride="carousel">
    </div>
 {% endblock %}
 {% block categories %} {% endblock %}
 {% block contact %} {% endblock %}
 {% block collaborateurs %} {% endblock %}
 {% block scroll %} {% endblock %}
 {% block footer %} {% endblock %}
 {% block social %} {% endblock %}

{% block produits %}
    {% if app.request.query.has('search') %}
        {% set search = app.request.query.get('search') %}
    {% else %}
        {% set search = search %}
    {% endif %}
    {% set path = 'app_logescom_stock_inventaire_index'  %}
    {% set nbrePages = pagination.nbrePages %}
    {% set pageEncours = pagination.pageEncours %}                    
    {% set id = inventaire.id %}  

    <div class="row">
        {% include "_common/_nav_stock.html.twig" %}

        <div class="col-sm-12 col-md-10" style="overflow:auto;">
            {# {% include "_common/_messages_flash.html.twig" %} #}
            <h3 class="text-center">Inventaire des produits</h3>
            
            <table class="table table-bordered table-striped table-hover align-middle" >
                <thead class="sticky-top bg-info text-center text-white">
                    <tr>
                        <th class="bg-info" colspan="8">
                            <div class="d-flex justify-content-between align-items-center ">
                                <form  class="form" action="{{ path('app_logescom_stock_inventaire_index', {'id': inventaire.id}) }}" method="GET">
                                    <select onChange="this.form.submit()" name="magasin" id="" class="form-select">
                                        <option value="{{magasin.id}}">{{magasin.nomStock}}</option>

                                        {% for liste_stock in liste_stocks %}                            
                                            <option value="{{liste_stock.id}}">{{liste_stock.nomStock}}</option>
                                        {% endfor %}
                                    </select>
                                </form>

                                <a oncLick="alerteConfirmation()" class="btn btn-warning mx-2" href="{{ path('app_logescom_stock_liste_inventaire_cloture', {'id': inventaire.id}) }}">Clôturer</a>
                                
                                <form class="d-flex" role="search">
                                    <input class="form-control me-2" type="search" name="search" placeholder="Search" aria-label="Search">
                                    <button class="btn btn-outline-success" type="submit">Search</button>
                                    <input class="form-control" type="hidden" name="magasin" value="{{magasin.id}}">

                                </form>
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th>N°</th>
                        <th>Catégorie</th>
                        <th>Référence</th>
                        <th>Désignation</th>
                        <th>Qtite stock</th>
                        <th>Inventaire</th>
                        <th>Ecart</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for key, stock in stocks %}
                    {% if stock.inventaire is not empty %}
                        {% if stock.inventaire.statut == 'clos' %}
                            {% set color = 'success' %}
                        {% elseif stock.inventaire.ecart < 0 %}
                            {% set color = 'danger' %}                        
                        {% else %}
                            {% set color = '' %}                        
                        {% endif %}
                    
                    {% else %}
                        {% set color = '' %} 
                    {% endif %}
                    
                    <form action="{{ path('app_logescom_stock_inventaire_index', {'id': inventaire.id}) }}" method="POST">
                        <tr>
                            <td class="text-center text-{{color}}">
                                {{ (key)+1 }}
                            </td>
                            <td class=" text-{{color}}">{{ stock.produit.products.categorie.nameCategorie }}</td>
                            <td class=" text-{{color}}">{{ stock.produit.products.reference }}</td>
                            <td class=" text-{{color}}">{{ stock.produit.products.designation }}</td>
                            <td class="text-center text-{{color}}">{{ stock.produit.quantite ? stock.produit.quantite : 0  }}</td> 
                            
                            <input class="form-control" type="hidden" name="id_product" value="{{stock.produit.products.id}}">
                            <input class="form-control" type="hidden" name="magasin" value="{{magasin.id}}">
                            <input class="form-control" type="hidden" name="quantite_init" value="{{stock.produit.quantite}}">
                            <input class="form-control" type="hidden" name="search" value="{{search}}">
                            <input class="form-control" type="hidden" name="pageEncours" value="{{pageEncours}}">

                            {% if stock.inventaire is not empty %}
                                <input class="form-control" type="hidden" name="id_inv" value="{{stock.inventaire.id}}">

                                <td class="text-center text-{{color}}">
                                    <input onChange="this.form.submit()" class="form-control text-center" type="number" name="quantite" placeholder="{{stock.inventaire.quantiteInv}}">
                                </td>                            
                                    
                                <td class="text-center text-{{color}}">{{stock.inventaire.ecart }}</td>

                                <td class="text-center">
                                    {% if stock.inventaire.quantiteInv is not empty and stock.inventaire.statut =='en-cours' and is_granted("ROLE_MODIFICATION") %}
                                        <a class="btn btn-success" onClick="alerteConfirmation()" href="{{ path('app_logescom_stock_inventaire_index', {'id': inventaire.id, id_inv: stock.inventaire.id, ajustement: "partiel"}) }}&{{queryString}}">Ajuster</a>
                                    {% elseif  stock.inventaire.statut =='clos' and is_granted("ROLE_SUPPRESSION") %}
                                        
                                        <a onClick="alerteS()" class="btn btn-danger" href="{{ path('app_logescom_stock_inventaire_index', {'id': inventaire.id, id_inv: stock.inventaire.id, ajustement: "deletePartiel"}) }}&{{queryString}}">Annuler</a>
                                        
                                    {% endif %}
                                </td>
                            {% else %}
                                <td class="text-center text-{{color}}">
                                    <input onChange="this.form.submit()" class="form-control text-center" type="number" name="quantite" >
                                </td>                            
                                    
                                <td class="text-center text-{{color}}">--</td>

                                <td class="text-center">
                                    <a class="btn btn-success" onClick="alerteConfirmation()" href="{{ path('app_logescom_stock_inventaire_index', {'id': inventaire.id, id_inv: null, ajustement: "partiel"}) }}&{{queryString}}">Ajuster</a>
                                    
                                </td>
                            {% endif %}
                        </tr>

                    </form>
                {% else %}
                    <tr>
                        <td colspan="4">Aucun produit trouvé</td>
                    </tr>
                {% endfor %}
                </tbody>
                
                
            </table>
            {% if nbrePages > 1 %}                    
                {% include "_common/_pagination_id.html.twig" %}
            {% endif %}
        </div>
    </div>

{% endblock %}
