{% extends 'base_logescom.html.twig' %}
{% set queryParams = app.request.query.all %}
{% set queryString = queryParams|filter((v, k) => k != "page" and k != "ajustement" and k != "id_stock") | url_encode %}

{% block title %}détail devise vente{% endblock %}
{% block bandeau %} {% endblock %}
 {% block carousel %}
    <div id="carouselExampleAutoplaying" class="carousel slide py-2" data-bs-ride="carousel">
    </div>
 {% endblock %}
 {% block categories %} {% endblock %}
 {% block contact %} {% endblock %}
 {% block collaborateurs %} {% endblock %}
 {% block scroll %} {% endblock %}
 {% block footer %} {% endblock %}
 {% block social %} {% endblock %}

{% block produits %}
    {% if app.request.query.has('id_client_search') %}
        {% set client = app.request.query.get('id_client_search') %}
    {% else %}
        {% set client = "" %}
    {% endif %}
    <div class="row my-2">
        {% include "_common/_nav_caisse.html.twig" %}
        <div class="col-sm-12 col-md-10">
            {{ include("_common/_messages_flash.html.twig") }}

            <table class="table table-bordered table-striped table-hover align-middle">
                <tbody>
                    <tr>
                        <th>Commentaire</th>
                        <td>{{ echange_devise.commentaire|ucfirst }}</td>
                    </tr>

                    <tr>
                        <th>Montant </th>
                        <td>{{ echange_devise.deviseOrigine.nomDevise == 'gnf' ? echange_devise.montantOrigine|number_format(0,',',' ') : echange_devise.montantOrigine|number_format(2,',',' ') }} {{ echange_devise.deviseOrigine.nomDevise|strtoupper }}</td>
                    </tr>

                    <tr>
                        <th>Taux</th>
                        <td>{{ echange_devise.taux|number_format(2,',',' ') }}</td>
                    </tr>

                    <tr>
                        <th>Montant Réçu </th>
                        <td>{{ echange_devise.deviseDestination.nomDevise == 'gnf' ? echange_devise.montantDestination|number_format(0,',',' ') : echange_devise.montantDestination|number_format(2,',',' ') }} {{ echange_devise.deviseDestination.nomDevise|strtoupper }}</td>
                    </tr>

                    <tr>
                        <th>Caisses</th>
                        <td>{{ echange_devise.caisseOrigine.designation|ucfirst ~ " -> " ~ echange_devise.caisseDestination.designation|ucfirst }}</td>

                    </tr>
                    <tr>
                        <th>Date échange</th>
                        <td>{{ echange_devise.dateEchange ? echange_devise.dateEchange|date('d/m/Y') : '' }}</td>
                    </tr>
                    <tr>
                        <th>Date de Saisie</th>
                        <td>{{ echange_devise.dateSaisie ? echange_devise.dateSaisie|date('d/m/Y H:i:s') : '' }}</td>
                    </tr>
                    <tr>
                        <th>Saisi par</th>
                        <td>{{ echange_devise.saisiePar.prenom|ucwords ~ " " ~ echange_devise.saisiePar.nom |strtoupper }}</td>
                    </tr>
                </tbody>
            </table>

            <div class="d-flex justify-content-between">

                <a class="btn btn-light" href="{{ path('app_logescom_caisse_echange_devise_index', { lieu_vente : lieu_vente.id}) }}">Retour</a>

                

                {% if is_granted("ROLE_MODIFICATION") %}
                
                    {% if echange_devise.deviseDestination.id == 1 %}
                        <a class="btn btn-warning" href="{{ path('app_logescom_caisse_echange_devise_edit_vente', {'id': echange_devise.id, lieu_vente : lieu_vente.id}) }}"><i class="fa fa-edit"></i></a>
                    {% else %}
                        <a class="btn btn-warning" href="{{ path('app_logescom_caisse_echange_devise_edit', {'id': echange_devise.id, lieu_vente : lieu_vente.id}) }}"><i class="fa fa-edit"></i></a>
                        
                    {% endif %}
                {% endif %}
                

                {% if is_granted("ROLE_SUPPRESSION") %}
                    {{ include('logescom/caisse/echange_devise/_delete_form.html.twig') }}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
