{% extends 'base_logescom.html.twig' %}
{% set queryParams = app.request.query.all %}
{% set queryString = queryParams|filter((v, k) => k != "page" and k != "ajustement" and k != "id_stock") | url_encode %}

{% block title %}retour facturation{% endblock %}
{% block bandeau %} {% endblock %}
 {% block carousel %}
    <div id="carouselExampleAutoplaying" class="carousel slide py-2" data-bs-ride="carousel">
    </div>
 {% endblock %}
 {% block categories %} {% endblock %}
 {% block contact %} {% endblock %}
 {% block collaborateurs %} {% endblock %}
 {% block scroll %} {% endblock %}
 {% block footer %} {% endblock %}
 {% block social %} {% endblock %}

{% block produits %}
    <div class="row my-2">
        {% include "_common/_nav_facturation.html.twig" %}

        <div class="col-sm-12 col-md-10">
            {{ include("_common/_messages_flash.html.twig") }}
            <table class="table table-bordered table-striped table-hover align-middle">
                <tbody>
                    {% if facturation.client is not empty %}
                        <tr>
                            <th>Solde {{ facturation.client.prenom|ucwords ~ " " ~ facturation.client.nom |strtoupper }}</th>
                            <td>
                                {% include "_common/_solde_collaborateur.html.twig" %}        
                            </td>
                        </tr>
                    {% endif %}

                    <tr>
                        <th colspan="2">
                            <table class="table table-bordered table-striped table-hover align-middle">

                                <thead class="sticky-top bg-info text-white text-center">
                                    <tr>
                                        <th class="bg-info text-white">N°</th>
                                        <th class="bg-info text-white">Désignation</th>
                                        <th class="bg-info text-white">Qtité</th>
                                        <th class="bg-info text-white">Livré</th>
                                        <th class="bg-info text-white">Retour</th>

                                        <th class="bg-info text-white">Stock Retour</th>

                                        <th class="bg-info text-white">Caisse Retour</th>

                                        <th class="bg-info text-white">Date Retour</th>

                                        <th class="bg-info text-white">P.Unitaire</th>

                                        <th class="bg-info text-white">Remise</th>
                                        <th class="bg-info text-white">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for key, commande in commandes %}

                                        <form method="post" action="{{ path('app_logescom_vente_retour_product_new', {'id': commande.id, lieu_vente : lieu_vente.id}) }}" onsubmit="return confirm('confirmez-vous cette opération de retour ?');">

                                            <tr>
                                                <td class="text-center">{{ key + 1 }}</td>
                                                <td>{{ commande.product.designation|ucwords }}</td>
                                                <td class="text-center" >{{ commande.quantite }}</td>
                                                <td class="text-center" >{{ commande.quantiteLivre }}/{{ commande.quantite }}</td>
                                                {% if commande.quantite > 0 %}
                                                    <td class="text-end" >
                                                        <input class="form-control text-center fw-bold" type="text" required name="qtite_retour" max="{{ commande.quantite }}">
                                                    </td>
                                                {% else %}
                                                    <input class="form-control text-center fw-bold" type="hidden" required name="qtite_retour" value="{{ commande.quantite }}">
                                                    <td class="text-center" >{{ commande.quantite }}</td>
                                                {% endif %}

                                                <td>
                                                    <select required name="stock" id="" class="form-select">
                                                        <option value=""></option>
                                                        {% for stock in liste_stocks %}
                                                            <option value="{{stock.id}}">{{stock.nomStock|ucfirst}}</option>                  
                                                        {% endfor %}
                                                    </select>
                                                </td>

                                                <td>
                                                    <select name="caisse" id="" class="form-select text-center fw-bold ">
                                                        <option value=""></option>
                                                        {% for caisse in listes_caisses %}
                                                            <option value="{{caisse.id}}">{{caisse.designation|ucfirst}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </td>
                                                <td><input type="date" name="date_retour" value="{{"now"|date("Y-m-d")}}" class="form-control"></td>

                                                <td class="text-end" >{{ commande.prixVente|number_format(0,',',' ') }}</td>
                                                <td class="text-end" >{{ commande.remise|number_format(0,',',' ') }}</td>

                                                {% if commande.quantite > 0 %}
                                                    <input type="hidden" name="retour" value="{{commande.id}}">
                                                    <td class="text-center"><button class="btn btn-danger">Retourner</button></td>
                                                {% else %}
                                                    <input type="hidden" name="annuler" value="{{commande.id}}">
                                                    <td class="text-center"><button class="btn btn-success">Annuler</button></td>
                                                {% endif %}

                                            </tr>
                                        </form>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </th>
                    </tr>

                    <tr>
                        <th colspan="2">
                            <table class="table table-bordered table-striped table-hover align-middle">

                                <thead class="sticky-top bg-info text-white text-center">
                                    <tr>
                                        <th class="bg-info text-white" colspan="8">Liste des livraisons de la facture N° {{facturation.numeroFacture|strtoupper}}</th>
                                    </tr>
                                    <tr>
                                        <th class="bg-info text-white">Date</th>
                                        <th class="bg-info text-white">Réference</th>
                                        <th class="bg-info text-white">Désignation</th>
                                        <th class="bg-info text-white">Qtité Livré</th>
                                        <th class="bg-info text-white">Stock</th>
                                        <th class="bg-info text-white">Commentaire</th>
                                        <th class="bg-info text-white">Livré par</th>
                                        <th class="bg-info text-white">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for key, livraison in livraisons %}

                                        <form method="post" action="{{ path('app_logescom_livraison_livraison_delete', {'id': livraison.id, lieu_vente : lieu_vente.id}) }}" onsubmit="return confirm('confirmez-vous cette livraison ?');">

                                            <tr>
                                                <td class="text-center" >{{ livraison.dateLivraison|date("d/m/Y") }}</td>

                                                <td>{{ livraison.commande.product.reference|ucwords }}</td>

                                                <td>{{ livraison.commande.product.designation|ucwords }}</td>

                                                <td class="text-center" >{{ livraison.quantiteLiv }}</td>

                                                <td class="text-center" >{{ livraison.stock.nomStock|ucfirst }}</td>

                                                <td>{{ livraison.commentaire|ucfirst }}</td>
                                                <td>{{ livraison.saisiePar.prenom|ucfirst ~ " le " ~ livraison.dateSaisie|date("d/m/Y") }}</td>
                                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ livraison.id) }}">
                                                <td class="text-center">
                                                {% if is_granted("ROLE_SUPPRESSION") and livraison.quantiteLiv > 0 %}
                                                    <button class="btn btn-danger">Annuler</button></td>
                                                {% endif %}
                                            </tr>
                                        </form>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </th>
                    </tr>

                    <tr>
                        <th>Numéro Facture</th>
                        <td>{{ facturation.numeroFacture|strtoupper }}</td>
                    </tr>

                    {% if facturation.proformat is not empty %}
                        <tr>
                            <th>Numéro Proformat</th>
                            <td>{{ facturation.proformat.numeroProformat|strtoupper }}</td>
                        </tr>
                    {% endif %}

                    <tr>
                        <th>Etat</th>
                        <td>{{ facturation.etat|ucfirst ~ " " ~ facturation.etatLivraison|ucfirst }}</td>
                    </tr>
                    <tr>
                        <th>Total Facture</th>
                        <td>{{ facturation.totalFacture|number_format(0,',',' ') }}</td>
                    </tr>

                    <tr>
                        <th>Montant Remise</th>
                        <td>
                            {{facturation.montantRemise|number_format(0,',',' ') }}
                        </td>
                    </tr>
                    {% if facturation.fraisSup is not empty %}
                        <tr>
                            <th>Montant Frais</th>
                            <td>
                                {{facturation.fraisSup|number_format(0,',',' ') }}
                                {% for frais in frais_sups %}
                                    <div class="row">{{frais.fraisSup.designation|ucfirst ~ " " ~ frais.montant|number_format(0,',',' ') }}</div>
                                {% endfor %}
                            </td>
                        </tr>
                    {% endif %}

                    <tr>
                        <th>Montant Payé</th>
                        <td>{{facturation.montantpaye|number_format(0,',',' ') }}</td>
                    </tr>
                    
                    <tr>
                        <th>Caisse</th>
                        <td>{{ facturation.caisse.designation|ucfirst }}</td>
                    </tr>
                    {% if caisses is not empty %}
                        <tr>
                            <th>Mode de Paie</th>
                            <td>
                                {% for caisse in caisses %}
                                    <div class="row">{{(caisse.modePaie.designation|ucfirst ~ " " ~ caisse.montant|number_format(0,',',' ') ~ " " ~ caisse.devise.nomDevise|strtoupper ) ~ ((caisse.numeroPaie ? (" N° Paie " ~ caisse.numeroPaie) : "") ~ (caisse.banqueCheque ? (" banque " ~ caisse.banqueCheque) : ""))}}</div>
                                {% endfor %}
                            </td>
                        </tr>
                    {% endif %}

                    <tr>
                        <th>Date facture</th>
                        <td>{{ facturation.dateFacturation ? facturation.dateFacturation|date('d/m/Y') : '' }}</td>
                    </tr>
                    <tr>
                        <th>Date de Saisie</th>
                        <td>{{ facturation.dateSaisie ? facturation.dateSaisie|date('d/m/Y H:i:s') : '' }}</td>
                    </tr>
                    <tr>
                        <th>Vendu par</th>
                        <td>{{ facturation.saisiePar.prenom|ucwords ~ " " ~ facturation.saisiePar.nom |strtoupper }}</td>
                    </tr>

                    <tr>
                        <th colspan="2" class="text-center bg-info text-white">Liste des produits <a class="btn btn-info" href="{{path("app_logescom_livraison_livraison_new", {id : facturation.id, lieu_vente : lieu_vente.id})}}">voir les livraison</a></th>
                    </tr>
                    

                    <tr>
                        <th colspan="2">
                        </th>
                    </tr>
                </tbody>
            </table>

            <div class="d-flex justify-content-between">

                <a class="btn btn-light" href="{{ path('app_logescom_vente_facturation_index', { lieu_vente : lieu_vente.id}) }}">Retour</a>

                {% if is_granted("ROLE_MODIFICATION") %}
                    <a class="btn btn-warning" href="{{ path('app_logescom_vente_facturation_edit', {'id': facturation.id, lieu_vente : lieu_vente.id, modif_facture : facturation.id}) }}"><i class="fa fa-edit"></i></a>
                {% endif %}
                {% if is_granted("ROLE_SUPPRESSION") %}
                    {{ include('logescom/vente/facturation/_delete_form.html.twig') }}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
