{{ form_errors(form) }}
{{ form_start(form) }}
    <div class="row  mb-1">
        <label class="form-label mx-1" for="">Catégorie rectte* <a href="{{path('app_logescom_admin_categorie_recette_new', { lieu_vente : lieu_vente.id }) }}" class="btn btn-sm btn-warning"><i class="fas fa-plus"></i></a></label>
        <div class="mx-1">{{ form_widget(form.categorie) }}</div>
    </div>
    <div class="row mb-1">
        {{ form_row(form.montant) }}
    </div>
    <div class="row mb-1">   
        <div class="col-sm-12 col-md-3">
            {{ form_row(form.devise) }}
        </div>

        <div class="col-sm-12 col-md-3">
            {{ form_row(form.modePaie) }}
        </div>

        <div class="col-sm-12 col-md-3">
            {{ form_row(form.caisse) }}
        </div>
    </div>

    <div class="row mb-1">  
        <div class="col-sm-12 col-md-3">
            {{ form_row(form.dateOperation) }}
        </div>      
        <div class="col-sm-12 col-md-9">
            {{ form_row(form.commentaire) }}
        </div>
    </div>
    <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}

